.ml-area.v-list-area>.q-scroll-view{
  height:100%!important;
}

.chat-input-area .send-btn-wrap:has(.sendable){
  animation-name: var(--animate-type);
  animation-duration: var(--animate-duration);
}
